<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header> 
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom justify-content-md-end">
            <form action="/Account/Logout"><button class="btn btn-primary me-md-2  pull-right">LogOut</button></form>
        </div>
    </header>
    @RenderBody()

</body>
</html>