@model CompanyModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add the company</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <h3>Fill the form of company</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><label asp-for="Name"></label><br /></td>
                    <td>
                        <input class="form-control" type="text" asp-for="Name"/>
                        <span asp-validation-for="Name"></span>
                    </td>

                </tr>
                <tr>
                    <td><label asp-for="Form"></label><br /></td>
                    <td>
                        <input class="form-control" type="text" asp-for="Form" />
                        <span asp-validation-for="Form"></span>
                    </td>
                </tr>
                <tr><td><input class="form-control" type="submit" value="Send" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>