@{
    Layout = null;
}
<DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Companies</title>
    </head>
    <body>
        <div>
            <h3>Сompany data</h3>
        <table>

     <tr><td><p>Name of the company</p></td>
                    <td><p>Form</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
                @foreach (var b in Model)
                {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Form</p></td>
                    <td><p><a href="/VCompanies/Company/@b.Id">Show</a></p></td>
                    <td><p><a href="/VCompanies/UpdateCompany/@b.Id">Change</a></p></td>
                    <td><p><a href="/VCompanies/DeleteCompany/@b.Id">Delete</a></p></td>
                </tr>
                }
        </table>
            <a href="/VCompanies/AddCompany">Add a company</a>
    </div>

    </body>
</html>