@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>No employees</title>
</head>
<body>
    <div>
        <h3>No employees in the company now</h3>
        <a href="/VCompanies/Companies">Back in the main page</a>
       </div>
</body>
</html>