@{
    Layout = null;
}
<DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Компании</title>
    </head>
    <body>
        <div>
        <h3>Даннные о компании</h3>
        <table>

     <tr><td><p>Имя компании</p></td>
                    <td><p>Форма</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
                @foreach (var b in Model)
                {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Form</p></td>
                    <td><p><a href="/VCompanies/Company/@b.Id">Просмотр</a></p></td>
                    <td><p><a href="/VCompanies/UpdateCompany/@b.Id">Изменить</a></p></td>
                    <td><p><a href="/VCompanies/DeleteCompany/@b.Id">Удалить</a></p></td>
                </tr>
                }
        </table>
            <a href="/VCompanies/AddCompany">Add a company</a>
    </div>

    </body>
</html>