@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Компания пуста</title>
</head>
<body>
    <div>
        <h3>На данный момент времени в компании нет ни одного сотрудника</h3>
        <a href="/VCompanies/Companies">Вернуться на главную</a>
       </div>
</body>
</html>