@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletion</title>
</head>
<body>
    <div>
        <h3>Do you really want to delete the company?</h3>
       <p> <form action="/VCompanies/Companies"><button>Cancel</button></form>
            <form method="post" action="/VCompanies/DeleteCompany/@Model.Id"> <button> Delete </button> </form>
        </p>
    </div>
</body>
</html>