@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <h3>Do you really want to delete the company?</h3>
       <p> <form action="/VCompanies/Companies"><button>Cancel</button></form>
            <form method="post" action="/VCompanies/DeleteCompany/@Model.Id"> <button> Delete </button> </form>
        </p>
    </div>
