@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Updated</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <h3>Updated</h3>
        <a href="/VCompanies/Companies">Back</a>
       </div>
</body>
</html>