@model CompanyUpdateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Form of updation date</h3>
        <form method="post" action="">
            <table>
                <input class="form-control" type="hidden" name="Id" value="@ViewBag.Company.Id"></input>
                <tr>
                    <td><p>Insert <label asp-for="Name"></label></p></td>
                    <td>
                        <input class="form-control" type="text" asp-for="Name" value="@ViewBag.Company.Name" />
                        <span asp-validation-for="Name"></span>
                        </td>
                </tr>
                <tr>
                    <td><p>Insert<label asp-for="Form"></label></p></td>
                    <td>
                        <input class="form-control" type="text" asp-for="Form" value="@ViewBag.Company.Form">
                        <span asp-validation-for="Form"></span>
                    </td>
                </tr>
                <tr><td><input class="form-control" type="submit" value="Send" /> </td><td></td></tr>
            </table>
        </form>
    </div>