
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <h3>Companies managment product</h3>
        <p>
            <a href="/VCompanies/Companies">Companies</a>
            <a href="/VEmployees/Employees">Employees</a>
        </p>
    </div>
